.user-input{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 45px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 50px;
}
.user-input .login-btn {
    padding: 8px 30px;
    background: #0d6efd;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
.submit-google-btn img {
    width: 30px;
    height: 30px;
}
.alternative-line {
    
}